:root{
--font-size-username:100%;
--font-size-weight:600
}
.room_cont{
    width: 100vw;
    height: 100vh;
    background-color: #b34949;
    /* padding: 2%; */
    display: flex;
}
.left{
    width: 10%;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.right{
    background-color: rgb(245,246,250);
    width: 90%;
}
.input_fld{
    background-color: rgb(62,71,155);
    /* background-color: #e6e6e6; */

    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.input_fld>input{
    padding: 0.5%;
    margin: 1%;
    border: none;
    border-radius: 10px;
}
.input_fld>button{
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    border: 2px solid black;
}
.input_fld>button:hover{
    opacity: 0.7;
}
.input_fld>input::placeholder
{
    color: rgb(44, 44, 44);
}
.suggestusers{
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    border-radius: 10px;
}
.username1{
font-size: var(--font-size-username);
width: fit-content;
margin-left: 20%;
}
.useremail{
    font-size: var(--font-size-username);
    margin-left: 20%;
}
.userspan{
    text-transform: uppercase;
    font-weight: var(--font-size-weight);
}
.adduser{
    margin-left: 20%;
    background-color:rgb(62,71,155);
    padding: 2%;
    border-radius: 10px;
    color: white;
}
.adduser:hover{
    opacity: 0.7;
}
.size{
    display: flex;
    /* background-color:rgb(77, 255, 92); */
    align-items: center;
    text-align: center;
    width: 30%;
}
.nullimg{
    position: absolute;
    left: 45%;
    width: 20%;
    top: 30%;
}
.filtered{
    position:relative;
    width: 100%;
    height: fit-content;
    background-color: white;
    /* background-color:rgb(194, 191, 191); */
    z-index: 999;
    /* padding: 10px; */
}
.filtered_main{
    background-color: #ffffff;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}
.detail{
    background-color: #fff;
}
/* .cls{
    background-color: red;
} */

.roomtest{
    background-color: #9194CE;
}
.labourclr{
    background-color:#1f539c;
}