.white{
    color: white;
}
.bgdarkblue{
    background-color: #213555;
}
.bglightblue{
    background-color:#F0F7FF;
}
.bglightgrey{
    background-color: #213555;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.textdarkblue{
    color:#02198B;
}



