.white{
    color: white;
}
.bgdarkblue{
    background-color: #5b5b5b;
}
.bglightblue{
    background-color:whitesmoke;
}
.bglightgrey{
    background-color: white;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.textdarkblue{
    color:#02198B;
}

.lightgreen{
    color: #0D1282;
}
.green{
    background-color: #0D1282;
}

#roomname{
    cursor: pointer;
    font-weight: bold;
}
#roomname:hover{
    opacity: 0.6;
}

