*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.eq-bg{
    height: 100vh;
}
.eq-title-cont{
    /* background: rebeccapurple; */
    height: 10%;  
    display: flex;
}
.eq-title-cont-left{
    /* background:red; */
    height: 100%;
    width: 60%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.eq-title-cont-right{
    background: rebeccapurple;
    width: 40%;
    height: 100%;  
}
.eq-body-cont{
    background: yellow;
    height: 90%;
}