*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
:root{
    --dark-blue: #213555;
    --base-color:#E5E4E2;

    --main-color: #90EE90;
    --soft-blue : #8DB3E2;
    --muted-green:#A9CCA8;
    --pale-yellow:#F7E4A2;
    --pastel-pink:#E6B8CF;
    --lavender:#C9BAC7;
    --light-blue:#F0F7FF;
    --title-text:#ffffff;

    --title-font-size:24px;
    --font-style:'Poppins', sans-serif;
}
.jcb-bg{
    height: 100vh;
}
.jcb-title-cont{
    height: 10%;
    background:var(--main-color);
    display: flex;
    align-items: center;
  
}
.jcb-title{
    color: var(--title-text);
    margin-left: 20px;
    font-size: var(--title-font-size);
    font-weight: 500;
}
.jcb-main{
    width: 100%;
    height: 90%;
}
.jcb-top{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;  
}
.jcb-down{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;

}
.jcb-gra-1-cont{
    width: 40%;
    height: 90%;
    background: var(--title-text);
    margin-left: 30px;
}
.jcb-gra-2-cont{
    height: 90%;
    width: 60%;
    background:var(--title-text);
    margin-right:30px ;
}
.jcb-gra-3-cont{
    width: 70%;
    height: 90%;
    background: var(--title-text);
    margin-left: 25px;
}
.jcb-gra-4-cont{
    width: 30%;
    height: 90%;
    background: var(--title-text);
    margin-right: 30px;
}
.jcb-gra-head{
    font-family: var(--font-style);
    text-align: center;
}
.poppins {
    font-family: 'Poppins', sans-serif;
}

.bg1{
    background-color: rgb(188, 190, 225);
}
.bg2{
    background-color: rgb(244, 146, 160);
}
.bg3 {
    background-color: rgb(254, 177, 97);
}
.bggray{
    background-color: #F5F6FA;
}
.bgblue{
    background-color: #213555;
}