.complaint_cont{
/* width: 100%;
height: 100%; */
display: flex;
background-color: rgb(245,246,250);
}
.Heading_c{
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
}
.nav_comp{
    height: 10%;
    background-color: #F492A0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: sticky; */
}
/* .comp_left{
    width: 10%;
    height: 100%;
    background-color: #e6e6e6;
} */
.comp_right{
    width: 100%;
    height: 100%;
    
    background-color: #fff;
}
.comp{
    margin: 10px;
    display: flex;
    width: 90%;
    padding: 1%;
    background-color: #e6e6e6;
    gap: 5%;
    justify-content: center;
}
.comp>.comp_inside>img{
    margin-left: 10%;
    width: 100px;
    border-radius: 5%;
}
.desc{
    font-size: 1vw;
    margin-bottom: 5%;
}
.deletebtn{
    background-color: #ff4c4c;
    width: fit-content;
    padding: 3%;
    border-radius: 15%;
}
.comp_inside{
    display: flex;
    width: 80%;
    padding: 1%;
    gap: 4%;
    background-color: #fff;
}
