.login_cont{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.login_left{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.login_right{
    width: 40%;
    height: 100%;
    background-color: rgb(146, 254, 146);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: #0D1282;
}
.input_login{
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 7%;
    background-color: #fff;
    border-radius: 10%;
}
.input_login>input{
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color:#e6e6e6;
}.input_login>button{
    background-color: #0D1282;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    color:white;
    align-self: center;
}
.btn_lo{
    align-self: center;
}
.input_login>h1{
    font-size: 25px;
}
.head_lo{
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 5%;
    color: white;
}
.loginsvg{
    width: 100%;
}
.db{
    /* background-color: red; */
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid gray;
    /* background-color: #fff; */
}
.dbcont{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 200px;
}