*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-blue: #213555;
    --base-color:#E5E4E2;

    --soft-blue : #8DB3E2;
    --muted-green:#A9CCA8;
    --pale-yellow:#F7E4A2;
    --pastel-pink:#E6B8CF;
    --lavender:#C9BAC7;
    --light-blue:#F0F7FF;
    --title-text:#ffffff;

    --title-font-size:24px;
    --font-style:'Poppins', sans-serif;
}
.new-probg{
    height: 100vh;
    color: var(--base-color);
}
.new-pro-title-cont{
    width: 100%;
    height: 10%;
    background: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-pro-title{
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    
}

.new-pro-main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.new-pro-form-cont{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
}
.new-pro-left{
    width: 40%;
    height: 100%;
    background: var(--title-text);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    background-color:rgb(235, 235, 235);
}
.new-pro-img{
    height: 500px;
    width: 550px;
}
.new-pro-right{
    width: 60%;
    height: 100%;
    background: var(--dark-blue);
    display: flex;
    /* background-color: red; */
    background-color:rgb(235, 235, 235);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 70px;
}
.new-pro-form{
    width: 100%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--title-text);
    background-color: var(--base-color);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.new-pro-form-title{
    /* padding-bottom: 10px; */
    font-size: var(--title-font-size);
    font-weight: 500;
    color: var(--title-text);
}
.new-form-label{
    text-align: center;
    margin-bottom:15px ;
    /* padding-bottom: px; */
    font-family: var(--font-style);
    color: var(--dark-blue);
    width: 80%;
}
.new-form-in{
    border-bottom: 2px solid black;
    /* margin-top: 5px; */
    width: 100%;
    border-radius: 3px;
    padding: 2px;
    
    /* Add padding for better appearance */ 
}
.new-pro-btn{
    background: var(--dark-blue);
    padding: 10px 200px;
    /* border-radius: 10px; */
    border: 1px solid var(--base-color);
    color: var(--title-text);
    font-weight: 500;
}


.form{
    color:black;
    
}
#input{
    padding: 7px;
    background-color:#E5E4E2;
    border: none;
}
#svg{
height: 100%;
}



/* #0D1282 */